<!-- Modal -->
<!-- Agenda -->
<div class="modal fade" id="Agenda" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p>15/07/2022 - 08:30 - Evento 1</p>
                <p>Descrição do Evento 1</p>
                <br>
                <p>18/07/2022 - 10:00 - Evento 2</p>
                <p>Descrição do Evento 2</p>
                <br>
                <p>21/07/2022 - 14:00 - Evento 3</p>
                <p>Descrição do Evento 3</p>
                <br>
                <p>22/07/2022 - 11:00 - Evento 4</p>
                <p>Descrição do Evento 4</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Dicas -->
<div class="modal fade" id="Dicas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dicas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dapibus odio ac luctus euismod. Vestibulum rhoncus interdum nunc sit amet malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce blandit quis elit sed tempor. Mauris mattis ante in massa dictum bibendum. Phasellus purus enim, hendrerit sodales eros sed, pulvinar finibus justo. Etiam dolor ligula, egestas nec mauris in, hendrerit viverra enim. Aenean non sollicitudin quam. Integer a erat odio. Quisque tincidunt auctor ante, quis accumsan magna pulvinar quis. Nulla semper, orci ac varius mattis, quam metus fringilla metus, ac mollis mauris lectus a lacus. Aenean malesuada ultrices libero, vel pretium justo bibendum porttitor. Fusce blandit, quam sit amet bibendum porttitor, metus mauris ultrices urna, ac molestie magna nibh in tortor.</p>
                <p class="text-justify">Duis vehicula, nulla sed aliquam commodo, purus mi ultrices dui, a varius nisi dui eget nunc. Sed ac orci vitae arcu vulputate volutpat. Praesent at odio et sem semper ullamcorper nec id quam. Proin imperdiet dapibus felis sed sagittis. Phasellus quis odio vitae arcu eleifend dictum. Quisque feugiat faucibus ex, et placerat erat condimentum at. Duis malesuada felis in nulla tempor, eu varius ante feugiat. Cras sit amet malesuada ante. Integer ultrices libero sit amet tempor lacinia. Nulla facilisi. Aenean faucibus augue ac risus elementum, nec dignissim diam tempus. Donec id augue nec ante gravida lobortis at et est.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Apoiadores -->
<div class="modal fade" id="Apoiadores" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Apoiadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 mt-3">
                                <img src="img/img_emp1.jpg" class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Empresa 1</h5>
                                    <p class="card-text text-justify">Descrição Empresa 1</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 mt-3">
                                <img src="img/img_emp2.jpg" class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Empresa 2</h5>
                                    <p class="card-text text-justify">Descrição Empresa 2</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 mt-3">
                                <img src="img/img_emp3.jpg" class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Empresa 3</h5>
                                    <p class="card-text text-justify">Descrição Empresa 3</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
