@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<div class="row">
    <div class="col-md-6">
        <div>
            <h1>Iniciativa Saúde da Cidade</h1>
            <p>
                Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae
                hendrerit.
            </p>
            <p>
                Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae
                legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae
                hendrerit.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="img/img1.jpg" alt="Hábito Saudável">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div id="areaContato" class="contato">
            <h2>Entre em contato!:</h2>
            <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

            <form id="frmCadastro">
                <div>
                    <label asp-for="Nome">Nome:</label>
                    <input asp-for="Nome" id="nome" required/>
                </div>
                <div>
                    <label asp-for="Email">Email:</label>
                    <input asp-for="Email" id="email" required/>
                </div>
                <div>
                    <label asp-for="Mensagem">Mensagem (opcional):</label>
                    <textarea asp-for="Mensagem" id="mensagem"></textarea>
                </div>
                <div>
                    <input type="submit" value="Enviar" id="btnSubmit" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card-group padding: 5px">
            <div class="card">
                <img src="img/img_agenda.jpg" class="card-img-top" alt="">
                <div class="card-body"></div>
                <div class="card-footer">
                    <a href="#" data-toggle="modal" data-target=#Agenda class="card-link">Agenda de eventos</a>
                </div>
            </div>
            <div class="card ml-2">
                <img src="img/img_dicas.jpg" class="card-img-top" alt="">
                <div class="card-body"></div>
                <div class="card-footer">
                    <a href="#" data-toggle="modal" data-target=#Dicas class="card-link">Dicas de vida saudável</a>
                </div>
            </div>
            <div class="card ml-2">
                <img src="img/img_apoiadores.jpg" class="card-img-top" alt="">
                <div class="card-body"></div>
                <div class="card-footer">
                    <a href="#" data-toggle="modal" data-target=#Apoiadores class="card-link">Lista de Apoiadores</a>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ModalHotsite"/>